# Prerequisites
*.d
*.vscode
*.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.objs

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

megaphone
my_awesome_phonebook
the_job_of_your_dreams

braiiiiiiinnnzzzz
moar_brainz!
hi_this_is_brain
unnecessary_violence
sed_is_for_losers
harl_2_0
harlFilter

mon_premier_canon
vers_une_classe_utile
on_peut_parler
BSP
